
<table class="tx-dsaablog" >
	<tr>
		<td>
			<f:translate key="tx_dsaablog_domain_model_author.first_name" />
		</td>
		<td>
		{author.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dsaablog_domain_model_author.last_name" />
		</td>
		<td>
		{author.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dsaablog_domain_model_author.user_name" />
		</td>
		<td>
		{author.userName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dsaablog_domain_model_author.presentation" />
		</td>
		<td>
		{author.presentation}
		</td>
	</tr>
</table>